# Overlord AI
For information about this project, see [this README.md](README.md)

# CODE STARTS HERE

First we import all the libraries and whatnot

In [11]:
import pandas as pd
import glob

Definitions go here

In [12]:
dataPath = "../data/*.csv"
dfList = ["asdf"] # define a junk list
dfList.clear() # clear said junk list

Read the data, using glob to get all the files at once

In [13]:
dataList = glob.glob(dataPath)
print(dataList)
for fileName in dataList:
    dfList.append(pd.read_csv(fileName , index_col=0))
    print(len(dfList))
    print(fileName)

['../data/ds_salaries copy.csv', '../data/ds_salaries.csv']
1
../data/ds_salaries copy.csv
2
../data/ds_salaries.csv

Method to show some info about the data

In [14]:
def showDataSummary(x):
    print("data type:") 
    print(type(df)) 
    print("10 samples:")
    print(x.sample(10)) # needs to be encapsulated in print()
    print("data describe:")
    print(x.describe()) # needs to be encapsulated in print()
    print("data info:")
    print(x.info())

Loop to run through all the dataframes in dfList

In [15]:
 for df in dfList:
    showDataSummary(df)
    print("AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA")
    #print(df)

data type:
<class 'pandas.core.frame.DataFrame'>
10 samples:
     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA experience_level  \
229                                           2021               SE
447                                           2022               SE
549                                           2022               SE
559                                           2022               SE
39                                            2020               EN
477                                           2022               SE
171                                           2021               MI
254                                           2021               MI
187                                           2021               EX
92                                            2021               MI

    employment_type                  job_title   salary salary_currency  \
229              FT               Data Analyst    90000             CAD
447              FT              Data Engineer   154600             USD
549              FT              Data Engineer   160000             USD
559              FT             Data Scientist   140400             USD
39               FT  Machine Learning Engineer   138000             USD
477              FT  Machine Learning Engineer   220000             USD
171              FT              Data Engineer    60000             GBP
254              FT               Data Analyst    93000             USD
187              FT    Data Science Consultant    59000             EUR
92               FT          Lead Data Analyst  1450000             INR

     salary_in_usd employee_residence  remote_ratio company_location  \
229          71786                 CA           100               CA
447         154600                 US           100               US
549         160000                 US           100               US
559         140400                 US             0               US
39          138000                 US           100               US
477         220000                 US           100               US
171          82528                 GB           100               GB
254          93000                 US           100               US
187          69741                 FR           100               ES
92           19609                 IN           100               IN

    company_size
229            M
447            L
549            M
559            M
39             S
477            M
171            L
254            L
187            S
92             L
data describe:
       AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA        salary  \
count                                     607.000000  6.070000e+02
mean                                     2021.405272  3.240001e+05
std                                         0.692133  1.544357e+06
min                                      2020.000000  4.000000e+03
25%                                      2021.000000  7.000000e+04
50%                                      2022.000000  1.150000e+05
75%                                      2022.000000  1.650000e+05
max                                      2022.000000  3.040000e+07

       salary_in_usd  remote_ratio
count     607.000000     607.00000
mean   112297.869852      70.92257
std     70957.259411      40.70913
min      2859.000000       0.00000
25%     62726.000000      50.00000
50%    101570.000000     100.00000
75%    150000.000000     100.00000
max    600000.000000     100.00000
data info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 607 entries, 0 to 606
Data columns (total 11 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA  607 non-null    int64
 1   experience_level                               607 non-null    object
 2   employment_type                                607 non-null    object
 3   job_title                                      607 non-null    object
 4   salary                                         607 non-null    int64
 5   salary_currency                                607 non-null    object
 6   salary_in_usd                                  607 non-null    int64
 7   employee_residence                             607 non-null    object
 8   remote_ratio                                   607 non-null    int64
 9   company_location                               607 non-null    object
 10  company_size                                   607 non-null    object
dtypes: int64(4), object(7)
memory usage: 56.9+ KB
None
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
data type:
<class 'pandas.core.frame.DataFrame'>
10 samples:
     work_year experience_level employment_type             job_title  salary  \
393       2022               SE              FT          Data Analyst   90320
422       2022               MI              FT  Data Science Manager  159000
211       2021               MI              FT    Research Scientist   48000
217       2021               MI              FT        Data Scientist   76760
344       2022               EX              FT    Analytics Engineer  175000
303       2022               SE              FT        Data Scientist  123000
362       2022               SE              FT          Data Analyst  130000
9         2020               SE              FT    Lead Data Engineer  125000
336       2022               MI              FT          Data Analyst  167000
535       2022               SE              FT        Data Architect  213120

    salary_currency  salary_in_usd employee_residence  remote_ratio  \
393             USD          90320                 US           100
422             USD         159000                 US           100
211             EUR          56738                 FR            50
217             EUR          90734                 DE            50
344             USD         175000                 US           100
303             USD         123000                 US           100
362             USD         130000                 CA           100
9               USD         125000                 NZ            50
336             USD         167000                 US           100
535             USD         213120                 US           100

    company_location company_size
393               US            M
422               US            M
211               FR            S
217               DE            L
344               US            M
303               US            M
362               CA            M
9                 NZ            S
336               US            M
535               US            M
data describe:
         work_year        salary  salary_in_usd  remote_ratio
count   607.000000  6.070000e+02     607.000000     607.00000
mean   2021.405272  3.240001e+05  112297.869852      70.92257
std       0.692133  1.544357e+06   70957.259411      40.70913
min    2020.000000  4.000000e+03    2859.000000       0.00000
25%    2021.000000  7.000000e+04   62726.000000      50.00000
50%    2022.000000  1.150000e+05  101570.000000     100.00000
75%    2022.000000  1.650000e+05  150000.000000     100.00000
max    2022.000000  3.040000e+07  600000.000000     100.00000
data info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 607 entries, 0 to 606
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           607 non-null    int64
 1   experience_level    607 non-null    object
 2   employment_type     607 non-null    object
 3   job_title           607 non-null    object
 4   salary              607 non-null    int64
 5   salary_currency     607 non-null    object
 6   salary_in_usd       607 non-null    int64
 7   employee_residence  607 non-null    object
 8   remote_ratio        607 non-null    int64
 9   company_location    607 non-null    object
 10  company_size        607 non-null    object
dtypes: int64(4), object(7)
memory usage: 56.9+ KB
None
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA