# Overlord AI
For information about this project, see [this README.md](README.md)

# CODE STARTS HERE

First we import all the libraries and whatnot

In [1]:
import pandas as pd
import glob

Definitions go here

In [2]:
dataPath = "../data/*.csv"
dfList = ["asdf"] # define a junk list
dfList.clear() # clear said junk list

Read the data, using glob to get all the files at once

In [3]:
dataList = glob.glob(dataPath)
for fileName in dataList:
    dfList.append(pd.read_csv(fileName , index_col=0))
    print(len(dfList))
    print(fileName)

1
../data/ds_salaries.csv

In [4]:
for df in dfList:
    df.describe()

In [5]:
    print(df)

     work_year experience_level employment_type                   job_title  \
0         2020               MI              FT              Data Scientist
1         2020               SE              FT  Machine Learning Scientist
2         2020               SE              FT           Big Data Engineer
3         2020               MI              FT        Product Data Analyst
4         2020               SE              FT   Machine Learning Engineer
..         ...              ...             ...                         ...
602       2022               SE              FT               Data Engineer
603       2022               SE              FT               Data Engineer
604       2022               SE              FT                Data Analyst
605       2022               SE              FT                Data Analyst
606       2022               MI              FT                AI Scientist

     salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0     70000             EUR          79833                 DE             0
1    260000             USD         260000                 JP             0
2     85000             GBP         109024                 GB            50
3     20000             USD          20000                 HN             0
4    150000             USD         150000                 US            50
..      ...             ...            ...                ...           ...
602  154000             USD         154000                 US           100
603  126000             USD         126000                 US           100
604  129000             USD         129000                 US             0
605  150000             USD         150000                 US           100
606  200000             USD         200000                 IN           100

    company_location company_size
0                 DE            L
1                 JP            S
2                 GB            M
3                 HN            S
4                 US            L
..               ...          ...
602               US            M
603               US            M
604               US            M
605               US            M
606               US            L

[607 rows x 11 columns]